<div class="container">
		<h2 class="header left orange-text light">About us</h2>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p class="menu-brown-text flow-text">We're a small team of people who like what we do. And it shows. </p>

</div>

<div class="container">
		<h2 class="header left orange-text light">FAQ</h2>
		<br>
		<br>
		<br>
		<br>
		<br>
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header menu-brown-text">1. How do I choose a postcard design?</div>
			      <div class="collapsible-body "><p>Go <%= link_to "here", gallery_path %> and follow the instructions.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">2. Are there any additional charges?</div>
			      <div class="collapsible-body"><p>No. You pay what you see in the final step of your purchase.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">3. Can I pay with a debit/credit card?</div>
			      <div class="collapsible-body"><p>For the time being we can only accept payments via PayPal. Sorry.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">4. How long until my postcard reaches its destination?</div>
			      <div class="collapsible-body"><p>Around 3-4 days for Europe.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">5. Oops! I gave a wrong address. How can I fix this?</div>
			      <div class="collapsible-body"><p> Drop us a line here. We'll fix things.</p></div>
			    </li>
		  	</ul>

</div>

<div class="container">
		<h2 class="header left orange-text light">Privacy policy</h2>
		<br>
		<br>
		<br>
		<br>
		<br>

					<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header menu-brown-text">Content</div>
			      <div class="collapsible-body "><p>This privacy policy discloses the privacy practices for www.grafficards.com. This privacy policy applies solely to information collected by this web site. It will notify you of the following:<br>
			    <br>
				1. What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.<br>
				2. What choices are available to you regarding the use of your data.<br>
				3. The security procedures in place to protect the misuse of your information.<br>
				4. How you can correct any inaccuracies in the information.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">Information Collection, Use, and Sharing</div>
			      <div class="collapsible-body"><p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.

				We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.

				Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">Your Access to and Control Over Information</div>
			      <div class="collapsible-body"><p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email form given on our website:<br>
			      	<br>
				   • See what data we have about you, if any.<br>

				   • Change/correct any data we have about you.<br>

				   • Have us delete any data we have about you.<br>

				   • Express any concern you have about our use of your data.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">Security</div>
			      <div class="collapsible-body"><p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.

				Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.

				While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p></div>
			    </li>
			    <li>
			      <div class="collapsible-header menu-brown-text">Updates</div>
			      <div class="collapsible-body"><p>Our Privacy Policy may change from time to time and all updates will be posted on this page.<br>
			     <br>
				If you feel that we are not abiding by this privacy policy, you should contact us immediately via email from our contact form.</p></div>
			    </li>
		  	</ul>
		<br>
</div>